body{
background-color: rgb(255, 255, 255);
    text-align: center;
}
.imagebg{
    background-color: rgb(235, 235, 235);
    padding-bottom: 20px;
    margin-top: 20px;
}

#Title{
    background-color: rgb(217, 225, 235);
    padding-bottom: 2%;
    padding-top: 20px;
    margin: 10px 200px;
}
.row{
    padding: 30px  150px;
    
}

.para1{
    padding: 2% 4% 1% ;
    background-color: blanchedalmond;
    border-radius: 10%;
}
.line1{
    margin: auto;
    width: 600px;
}

.sirst-para{
    padding: 2% 4% 1% ;
    background-color: rgb(127, 231, 174);
    border-radius: 10%;
}


.para3{
    padding: 2% 4% 1% ;
    background-color: blanchedalmond;
    border-radius: 10%;

}

.para4{
    padding: 2% 4% 1% ;
    background-color: rgb(237, 205, 255);
    border-radius: 10%;

}

.para5{
    padding: 2% 4% 1% ;
    background-color: rgb(151, 158, 247);
    border-radius: 10%;

}

.para6{
    padding: 2% 4% 1% ;
    background-color: rgb(247, 170, 160);
    border-radius: 10%;

}

.para7{
    padding: 2% 4% 1% ;
    background-color: rgb(238, 135, 207);
    border-radius: 10%;

}





img {
    
    margin-top: 50px;
    border: solid 5px;
    height: 250px;
    border-radius: 100px;
    border-color: darkgreen;
}

@media (max-width:1028px) {
    .row{
        padding: 7%;
    }

    .heading1{
        font-size: 20px;
    }
    .paragraph{
        font-size: 15px;
    }

    .line1{
width: 40%;
margin: auto;
    }


#Title{
    padding-bottom: 2%;
    margin: 0px 0px;

}


.imagebg{
    background-color: rgb(235, 235, 235);
    margin: 10px 60px;
    border-radius: 15%;
}
img {
    
    margin-top: 50px;
    border: solid 5px;
    height: 150px;
    border-radius: 100px;
    border-color: darkgreen;
}

}
    
    
